---
import Layout from '../layouts/Default.astro';
import RecentBlogPosts from '../components/generic/RecentBlogPosts.astro';
import MobileSocials from '../components/home/MobileSocials.astro';
import Card from '../components/generic/Card.astro';
import Button from '../components/generic/Button.astro';
import TagItem from '../components/blog/TagItem.astro';
import { Image } from '@astrojs/image/components';
import Photo from '../components/home/photo.astro'
import Bio from '../components/home/bio.astro'
import Test from '../components/home/boilerplate.astro'
import Aiven from '../components/home/aiven.astro'
import Podcast from '../components/home/podcast.astro'
import Livestream from '../components/home/livestream.astro'
import Projects from '../components/home/projects.astro'
import Jenn from '../components/home/jenn.astro'



const builtWith = [
  { name: 'Astro', url: 'https://astro.build/' },
  { name: 'UnoCSS', url: 'https://uno.antfu.me/' },
  { name: 'Content Collections', url: 'https://docs.astro.build/en/guides/content-collections/' },
  { name: 'RSS', url: 'https://docs.astro.build/en/guides/rss/' },
  { name: 'Sitemap', url: 'https://docs.astro.build/en/guides/integrations-guide/sitemap/' },
  { name: 'Vercel', url: 'https://vercel.com' },
  { name: 'TypeScript', url: 'https://www.typescriptlang.org/' },
];

---

<Layout
  title='Home'
  pageTitle='Jenn Junod Home'
  description='Jenn Junod is a Developer Advocate, Learning Live Streamer, and Podcast Host'
>
  <main class='bg-black p-6'>
    <MobileSocials />
    <section id='about' class='grid md:grid-cols-9 gap-8 mt-4'>
      <h2 class='hidden'>About Jenn Junod</h2>

      <!-- <Photo /> -->
      <Jenn />
      <Bio />
      <Livestream />
      <Podcast />
      <Aiven />
      

    </section>
    <!-- <RecentBlogPosts /> -->
  </main>
</Layout>
