---
import Name from '../components/tjt/name.astro'
import Layout from '../layouts/Default.astro';
import MobileSocials from '../components/home/MobileSocials.astro';
---

<Layout
title='Teach Jenn Tech'
pageTitle='Teach Jenn Tech'
description='Teach Jenn Tech'
>
<main class='bg-black p-6'>
    <MobileSocials />
    <section id='about' class='grid md:grid-cols-12 gap-8 mt-4'>
    <h2 class='hidden'>About Jenn Junod</h2>

    <!-- <Photo /> -->
    <Name />

    </section>
    <!-- <RecentBlogPosts /> -->
</main>
</Layout>