---
import Card from '../generic/Card.astro';
import { Image } from '@astrojs/image/components';
import aiven from '/public/aiven-logo.jpeg'
import Button from '../generic/Button.astro';

const src = aiven

---
<Card color='#FF3246' extraClasses='col-span-4'>
    <div
class='card bg-white border-3 border-black rounded-lg p-4 h-full flex flex-col justify-between'
>
<div class='rounded-lg border-3 border-black my-3 h-100'>
    <Image
    src={src}
    alt={'giant hippo'}
    width={600}
    height={600}
    class='rounded h-full w-full object-cover'
    />
</div>
    <h2 class='text-2xl md:text-xl lg:text-4xl mb-1 dm-serif'>
    Developer Advocate at Aiven
    </h2>
    <p class='poppins my-5'>
        Manged and hosted Data infrastructure made simple. Aiven offers a fully managed, open source cloud data platform that works for you.
    </p>
    <div>
    <!-- <Button href='/events/'>See what I do &rarr;</Button> </div> -->
    <Button href=>More Details Coming Soon</Button> </div>
    </div>
</Card>



