---
import Card from '../generic/Card.astro';
---
<Card color='#005B45' extraClasses='col-span-9  md:col-span-7'>
    <div
    class='card bg-white border-3 border-black rounded-lg p-4 h-full flex flex-col justify-start'
    >
    <h3 class='text-2xl md:text-4xl lg:text-6xl mb- dm-serif p-4'>
        ✨Hello beautiful human!✨
    </h3>


        <a class='poppins p-4'>Jenn is a multifaceted individual with a passion for technology and a heart for people. Currently, she works as a Developer Advocate for Aiven, where she helps developers harness the power of data infrastructure. Outside of work, Jenn hosts Teach Jenn Tech, about exploring technology. Jenn also hosts a thought-provoking podcast called Sh!t You Don't Want to Talk About, where she fearlessly dives into challenging topics such as mental health, equity, and diversity. Her goal is to create a safe and welcoming space for honest conversations, where people from all backgrounds can feel heard and understood.</a>
            <a class='poppins p-4'>Jenn's focus is on PostgreSQL and TypeScript and she is always eager to learn and explore new technologies. She thrives on diving deep into complex problems, finding elegant solutions whether she's coding, teaching, or podcasting. Jenn is an advocate for social justice, striving to make the tech industry more equitable and diverse, ensuring everyone has a seat at the table. In all her endeavors, Jenn is a force to be reckoned with, fueled by her love of people and her passion for technology.
            </a>

</Card>