---
import Card from '../generic/Card.astro';
---
<Card color='#005B45' extraClasses='col-span-8'>
    <div
    class='card bg-white border-3 border-black rounded-lg p-4 h-full flex flex-col justify-between'
    >
    <h3 class='text-2xl md:text-4xl lg:text-6xl mb-4 dm-serif'>
    About:
    </h3>
 
    <p class='poppins my-3'><b>✨Hello beautiful human! It’s lovely to meet you!✨</b></p>

        <p class='poppins my-3'>I am a developer advocate, international speaker and MC, podcast host, and live streamer.
As someone who thrives on human connection, I advocate for those who have gone unheard. My passion and experience create a space where people can come together, be it learning live, hosting Sh!t You Don't Want to Talk About Podcast, or being a Developer Advocate at Aiven.</p>

<p class='poppins my-3'>Keep reading to see why, I do what I do.. </p>

<p class='poppins my-3'>Jenn has a story of her own. As a child, she suffered solitary confinement, physical abuse, mental abuse, sexual abuse, rape, divorce, abortion, cutting, and suicide attempts. Her turbulent background has forged a path to help those who are suffering, ignored and silenced. Sh!t You Don’t Want to Talk About is a place people can come to find hope and healing, to know they are not alone, and to finally be heard. </p>

<p class='poppins my-3'>Clearly, Jenn’s been through plenty of sh!t most people probably don’t want to even acknowledge, let alone talk about. She thought she’d dealt with her past, but brain surgery in November 2020 unleashed a tsunami of memories that couldn’t be ignored. Working through trauma, depression, anxiety, bipolar type 2, and ADHD will be a lifelong journey. Jenn strives to break the stigma of Sh!t You Don't Talk About and turn it into Sh!t 2 Talk About, in life and in tech.</p>

</Card>