---
import Card from '../generic/Card.astro';
---
<Card color='#005B45' extraClasses='col-span-9  md:col-span-7'>
    <div
    class='card bg-white border-3 border-black rounded-lg p-4 h-full flex flex-col justify-start'
    >
    <h3 class='text-2xl md:text-4xl lg:text-6xl mb- dm-serif'>
        ✨Hello beautiful human!✨
    </h3>


        <a class='poppins'>Jenn is someone who thrives on human connection, she is an advocate for those who have gone unheard. With a passion for inclusion, learning, and educating, Jenn started live streaming Teach Jenn Tech. This show brings the audience along on the adventure while a guest breaks difficult technical concepts. Jenn is currently focusing her show on Data Infrastructure, Python, and TypeScript. Outside of live streaming, Jenn is a Developer Advocate for Aiven and the host of a podcast called Sh!t You Don’t Want to Talk About which covers topics such as mental health, inclusion, and diversity.  </a>

</Card>