---
import Card from '../generic/Card.astro';
import { Image } from '@astrojs/image/components';
import podcast from '/public/Shit2TalkAbout.png'
import Button from '../generic/Button.astro';

const src = podcast

---
<Card color='#00EDD6' extraClasses='col-span-4'>
    <div
class='card bg-white border-3 border-black rounded-lg p-4 h-full flex flex-col justify-between'
>
<div class='rounded-lg border-3 border-black my-3 h-100'>
    <Image
    src={src}
    alt={'giant hippo'}
    width={600}
    height={600}
    class='rounded h-full w-full object-cover'
    />
</div>
    <h2 class='text-2xl md:text-xl lg:text-4xl mb-1 dm-serif'>
    Host of Sh!t You Don't Want to Talk About Podcast
    </h2>
    <p class='poppins my-5'>
        Changing the conversation from Sh!t You Don't Want to Talk About into Shit2TalkAbout

        Sh!t You Don’t Want to Talk About is a place people can come to find hope and healing, to know they are not alone, and to finally be heard.    </p>
    <div>
    <!-- <Button href='/events/'>See what I do &rarr;</Button> </div> -->
    <Button href=>More Details Coming Soon</Button> </div>
    </div>
</Card>



