---
import Card from '../generic/Card.astro';
---
<Card color='#005B45' extraClasses='col-span-3'>
    <div
    class='card bg-white border-3 border-black rounded-lg p-4 h-full flex flex-col justify-between'
    >
    <h2 class='text-2xl md:text-4xl lg:text-6xl mb-4 dm-serif'>
    Who is Jenn Junod?
    </h2>
    <p class='poppins'>I am a developer advocate, international speaker and MC, podcast host, and live streamer.  </p>
    <p class='poppins'>
    As someone who thrives on human connection, I advocate for those who have gone unheard. My passion and experience create a space where people can come together, be it learning live, hosting Sh!t You Don't Want to Talk About Podcast, or being a Developcado (Developer Advocate).
    </p>
</Card>